<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="HTML" class="nl.codecastle.appenders.HtmlAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <encoder>
            <pattern>[%level] %d{yyyy-MM-dd HH:mm:ss}: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="HTML"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>